.card {
  flex: 0 0 auto;
  max-width: 18rem;
  margin: 1rem 5px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card .links {
  display: flex;
  background-color: #eee;
}

.links a {
  width: 100%;
  display: block;
}

.links .btn {
  width: 100%;
  /* display: flex; */
  border-radius: 0;
  /* justify-content: center; */
  /* border: 1px solid #d1d1d1; */
}
